
<html>

<head>

    <title>E- Fashion Project</title>

    <link href="~/Content/Shop.css" rel="stylesheet" />


</head>


<body>

    <div class="girl">
        <a href="https://localhost:44351/Home/WomanProducts"><img src="~/Content/Image/fashionGirl.png" /></a>
        <div class="gtext">
            <a href="https://localhost:44351/Home/WomanProducts" style="text-decoration : none">><h7> Woman </h7></a>

        </div>

    </div>
    <div class="boy">
        <a href="https://localhost:44351/Home/ManProducts"><img src="~/Content/Image/fashionBoy.png" /></a>
        <div class="btext">
            <a href="https://localhost:44351/Home/ManProducts" style="text-decoration : none">><h7> Man </h7></a>

        </div>

    </div>


    @*<table class="table table-bordered">
            <tr>
                <th>a</th>
                <th>a</th>
                <th>a</th>
                <th>a</th>
                <th>a</th>
                <th>a</th>
            </tr>
            <tbody>
                @foreach (var urn in Model)
                {
                    <tr>
                        <th>@urn.OutfitID</th>
                        <td>@urn.Type</td>
                        <td>@urn.Size</td>
                        <td>@urn.Color</td>
                        <td>@urn.Sex</td>

                    </tr>
                }
            </tbody>


        </table>*@

</body>









</html>